gris_oscuro = #444
azul = #22BCE0


body
	background-image url('img/tweed_@2X.png')
	background 
header
	background gris_oscuro
	padding 3em
	text-align center
	position relative
	.nombreLogo
		color white
		font-family Arial
		font-size 16px
		text-decoration none

nav
	background azul
	overflow hidden 
	.menu
		float left
		padding-left 0
		li
			display inline-block
			a
				color white
				padding 0 0.2em
				margin 0 0.5em
				display block	
				text-decoration none


	.config
		float right
		margin 1em 1em 0 0
		a
			color white
			padding 0 0.2em
			margin 0 0.5em
			display block	
			text-decoration none


section
	border 1px solid red
	float left 
	margin 2em 10em 2em 2em
	padding 1em 1em 1em 1em
	.publicar
		text-align center

		.texto
			border-radius 0.5em 0.5em 0.5em 0.5em
			&:focus
				content ""
				border 1px solid azul

	.contenido
		border 1px solid red
		margin 0 1em 0 0 
		

aside
	margin 2em 5em 2em 0
	padding 1em 1em 1em 1em
	float right
	border 1px solid red 
	.logo
		text-align center
	.datos
		margin 20px 0 0 0 

				
				
			
				

		


