#izquierda{float: left;background-color: #64A080;margin: 20px}
#tit1{text-align: center;background-color: #1B884E}
#centro{float: left;}
#bajo{text-align: right;}
#p{padding:0px;border: 0px;margin: 0px}
#as1{float: right;}
#t1{padding-left: 50px;margin: 0px;}
#im1{margin-top: 0px;padding: 10px}
#fcn{margin-left: 30px}
#centro{float: left;padding-left: 400px;border-left: 2px solid white}
#pn{text-align:center;clear:both;padding-top: 300px}
#body{background-color: #30483B}
/*#body{background-color: #2E8874}*/